// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
// $primary: #000033;
$primary: #110066;
// $primary-subtle: #990000;
// $secondary: #aa7733;
$secondary: #ffaa33;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here


$theme-colors: (
    "primary": $primary,
    "danger": $danger
);



